<ul>
  <li>
    <%= content_tag :strong, current_user.name %>
  </li>
  <li>
    <%= content_tag :small, '@'+current_user.username %>
  </li>
  <li>
    <table>
      <tbody>
        <tr>
          <td>
            <%= content_tag :h4, 'n' %>
            <%= content_tag :small, 'Posts', :class => "uppercase lighter" %>
          </td>
          <td>
            <%= content_tag :h4, current_user.follows.count %>
            <%= content_tag :small, 'Following', :class => "uppercase lighter" %>
          </td>
          <td>
            <%= content_tag :h4, Follow.where(:following_id => current_user.id).count %>
            <%= content_tag :small, 'Followers', :class => "uppercase lighter" %>
          </td>
      </tbody>
    </table>
  </li>
</ul>

<ul>
  <%= nav_item("Follow", follows_path) %>
</ul>
