<% @image_link.each do |image_link| %>
  <h2><%= image_link.title %></h2>
  <%= image_tag image_link.url %>

  <span class='likes pull-left'>
  <%= image_link.likes.count %> likes
  </span>

  <%= form_for Like.new do |f| %>
    <%= f.hidden_field :likeable_type, :value => image_link.class %>
    <%= f.hidden_field :likeable_id, :value => image_link.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Like" %>
  <% end %>

  <% end %>