<% @image_links.each do |image_link| %>
  <%= div_for image_link do %>
    <h2><%= image_link.title %></h2>
    <%= image_tag image_link.url %>

    <div class='likes pull-left'>
      <span class='total-likes'><%= image_link.likes.count %></span> likes 
    </div>

    <%= form_for Like.new, :remote => true do |f| %>
      <%= f.hidden_field :likeable_type, :value => image_link.class %>
      <%= f.hidden_field :likeable_id, :value => image_link.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Like" %>
    <% end %>
  <% end %>

<% end %>
